:root {
    --background-grey: #F8F8F8;
    --delete-red: #BC2B2B;
    --text-grey: #5A5A5A;
    --primary-blue: #2B84BC;
    --secondary-blue: #032E5C;
}

html, body {
    margin: 0;
    padding: 0;
    background: White;
    color: var(--text-grey);
    background-color: var(--background-grey);
    font-family: Arial, sans-serif;
    font-size: 14pt;

}

div#main {
    margin: 0;
    padding: 0 20px 20px;
}
a {
    background: transparent;
    color: midnightblue;
    text-decoration: underline;
    font-weight: bold;
}
h1 {
    color: cornflowerblue;
    font-size: 150%;
    font-style: italic;
    display: block;
    width: 100%;
    border-bottom: 1px solid DarkSlateGrey;
}
h1.title {
    margin: 0 0 1em;
    padding: 10px;
    background-color: darkolivegreen;
    color: white;
    border-bottom: 4px solid silver;
    font-size: 2em;
    font-style: normal;
}
table#jsonfiles {
    margin: 10px;
    border-collapse: collapse;
    width: 100%;
    border-bottom: 2px solid black;
}
table#jsonfiles th {
    border: 2px solid white;
    font-weight: bold;
    background-color: silver;
}
table#jsonfiles th, table#jsonfiles td {
    padding: 4px;
    text-align: left;
}
table#jsonfiles th.hilite {
    background-color: yellow;
}
#notice #warning {
    background: rosybrown;
    margin: 1em 0;
    padding: 4px;
}
form label {
    display: block;
    line-height: 25px;
    font-weight: bold;
    color: maroon;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
    overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
    text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

.button {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    width: 130px;
    height: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.delete-button {
    background-color: var(--delete-red);
}

.back-button {
    background-color: var(--primary-blue);
}

.content-card {
    background-color: white;
    padding: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 16px;
}

.card-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.nav-bar {
    width: 100%;
    height: 60px;
    background-color: var(--secondary-blue);
    display: flex;
    /* flex-direction: column;*/
    align-items: center
}

.nav-bar-title {
    margin-left: 20px;
    font-size: 36px;
    font-family: Aileron, sans-serif;
    color: white;
}

/* ------------------------------- Begin Style for d3 View ------------------------------------ */

* {
    font-family: Arial;
}

svg {
    background-color: #FFF;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

svg:not(.active):not(.ctrl) {
    cursor: crosshair;
}

path.link {
    fill: none;
    stroke: #000;
    stroke-width: 4px;
    cursor: default;
}

svg:not(.active):not(.ctrl) path.link {
    cursor: pointer;
}

path.link.selected {
    stroke-dasharray: 10,2;
}

path.link.dragline {
    pointer-events: none;
}

path.link.hidden {
    stroke-width: 0;
}

circle.node {
    stroke-width: 1.5px;
    cursor: pointer;
}

circle.node.reflexive {
    stroke: #000 !important;
    stroke-width: 2.5px;
}

text {
    font: 12px sans-serif;
    pointer-events: none;
}

text.id {
    text-anchor: middle;
    font-weight: bold;
}

.d3-container {
    width: 100%;
    height: 500px;
    border-radius: 5px;
    background-color: #F0F5FC;
    fill: #2B2B2B; /* changes text color */
}


.content-container {
    width: 900px;
    max-width: 100%;
    margin: auto;
}

/* ------------------------------- End Style for d3 View ------------------------------------ */


.drop-shadow {
    -webkit-box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.3);
}